@import '../../../styles/settings.scss';

.root {
  .stepper {
    background-color: transparent;
    padding-bottom: $base-size;
  }
}

@media (min-width: 960px) {
  .root {
    .stepper {
      padding-bottom: 24px;
    }
  }
}
