@import '../../../styles/settings.scss';

.root {
  .grid {
    min-height: calc(100vh - 80px);
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 960px) {
  .root {
    .rollOut {
      animation: rollout 0.8s $t-function;
    }
  }
}

@keyframes rollout {
    0% {
      transform: translateY(-80px);
      opacity: 0.5;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}
