@import '../../../styles/settings.scss';

.root {
  min-height: 66vh;
  max-width: 100%;
  display: flex;
}

@media (min-width: 600px) {
  .root {
    padding-right: $base-size/2;
    padding-left: $base-size/2;
  }
}
