$base-size: 16px;
$radius: 4px;
$button-width: 142px;
$t-function: cubic-bezier(0.4, 0, 0.2, 1);

/* theme colors */
$secondary: #595959;
$primary: #91C499;
$white: #F9F6F0;
$black: #0A0A0A;
$background: #F3EDE2;
