@import '../../../styles/settings.scss';

.root {
  background-color: $background;
  border-radius: $radius;
  padding: $base-size;

  .price {
    padding: $base-size/2;
  }

  .input {
    width: 70px;
  }
}
