@import '../../../styles/settings.scss';

.root {
  height: 70vh;
  .currentPhoto {
    overflow: hidden;
    border-radius: $radius;
    margin-bottom: $base-size;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .dots {
    margin-top: -$base-size;
    margin-left: $base-size/2;
    margin-right: $base-size/2;
    width: 100%;
  }

  .thumbnail {
    position: relative;

    img {
      height: 100px;
      width: 100%;
      object-fit: cover;
      border-radius: $radius;
    }

    &:hover {
      &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: red;
    }
    }
  }
}
