@import '../../../styles/settings.scss';

.root {
  // .toolbar {
  //   display: flex;
  //   justify-content: flex-end;
  // }

  // .title {
  //   text-transform: uppercase;
  //   margin-right: auto;
  // }
}
