@import '../../../styles/settings.scss';

.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    flex: 1;
    padding: 0;
  }
}

@media (min-width: 960px) {
  .root {
    .container {
      padding: $base-size 0;
    }
  }
}
