@import '../../../styles/settings.scss';

.root {
  padding: $base-size/2 0;
  height: 100%;
  background-color: $white;
  max-width: 100%;
  overflow-x: hidden;

  .textParagraph {
    padding-left: $base-size;
    padding-right: $base-size;
  }
}

@media (min-width: 960px) {
  .root {
    padding: $base-size;
  }
}
