@import '../../../styles/settings.scss';

.root {
  padding: $base-size/2 0;
  height: 100%;

  .textParagraph {
    padding-left: $base-size/2;
    padding-right: $base-size/2;
  }
}

@media (min-width: 960px) {
  .root {
    padding: $base-size;
  }
}
