@import '../../../styles/settings.scss';

.root {
  padding: $base-size*2;
  height: 100%;

  .input {
    width: $button-width;
  }

  .orderSection {
    background-color: $background;
    border-radius: $radius;
  }
}
