@import '../../../styles/settings.scss';

.root {
  padding: $base-size;
  min-height: 65vh;

  .table {
    margin-bottom: $base-size;
  }

  .button {
    display: block;
    margin-left: auto;
    max-width: $button-width;
    text-align: center;
  }
}
