@import '../../../styles/settings.scss';

.root {
  padding: $base-size;
  min-height: 65vh;
  margin: $base-size/2;

  .table {
    margin-bottom: $base-size*2;
  }

  .row {
    td {
      border: none;
      padding-bottom: 0;
    }
  }

  .collapsible {
    padding-top: 0;
  }

  .button {
    display: block;
    margin-left: auto;
    max-width: $button-width;
    text-align: center;
  }
}
