@import '../../../styles/settings.scss';

.root {
  padding: $base-size;
  min-height: 65vh;
  margin: $base-size/2;

  .table {
    margin-bottom: $base-size*2;

    td, th {
      padding: $base-size/2;
    }
  }

  .product_row {
    td {
      border: none;
      padding-bottom: 0;
    }

    .product_name {
      min-width: 84px;
    }

    .amount {
      min-width: 92px;
    }
  }

  .collapsible_cell {
    padding-top: 0;
  }

  .button {
    display: block;
    margin-left: auto;
    max-width: $button-width;
    text-align: center;
  }
}
