@import '../../../styles/settings.scss';

.root {
  height: 100%;
  padding: $base-size;

  td, th {
    padding: $base-size/2;
  }

  .amount {
    min-width: 60px;
  }

  .price {
    min-width: 80px;
  }

  .total {
    font-weight: bold;
    border: none;
  }
}
